.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 800px;
    height: 500px;
    background: rgb(224, 224, 224);
}

.label {
    color: black;
    display: block;
}

.input {
    background: white;

}

.form-wrapper{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}